<div class="container mt-5">
    <a href="/animals" class="btn btn-secondary">Back to List</a>
    <h1>{{item.title}}</h1>
    <h4>Author: {{item.wittenBy}}</h4>
    <img class="w-50" src="{{item.imageUrl}}" alt="{{item.title}}">
    <p class="mt-4">{{item.article}}</p>
</div>